{{define "main"}}
<!-- ======= Hero Section ======= -->
{{with .Params.hero_section}}
<section
  id="hero"
  class="hero d-flex align-items-center justify-content-center"
  style="background-image: url('/assets/img/ai-ems-brain.png'); background-size: cover; background-position: center; background-repeat: no-repeat; position: relative;"
>
  <!-- Dark Overlay for Contrast -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2);"></div>

  <div class="container" style="position: relative; z-index: 1;">
    <div class="row justify-content-center">
      <div
        class="col-lg-9 d-flex flex-column justify-content-center text-center align-items-center"
      >
        <div class="overlay">
          <h1 class="title_home" data-aos="fade-up">{{.title}}</h1>
          <h2 class="subtitle_home" data-aos="fade-up" data-aos-delay="400">{{.content | safeHTML}}</h2>
          <!-- <div data-aos="fade-up" data-aos-delay="600">
            {{ with .buttons}}
            <div class="text-center">
              {{ range . }}
              <a href="{{.link}}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" style="background-color: #007bff; color: white;">
                <span>{{.label}}</span>
                <i class="bi bi-arrow-right"></i>
              </a>
              {{ end }}
            </div>
            {{end}}
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End Hero -->

<!-- ======= Services Section ======= -->
<!-- {{with .Params.services_section}}
<section id="values" class="values">
  <div class="specificClass" data-aos="fade-up">
    <header class="section-header">
      <h3>{{.title}}</h3>
      <h2>{{.sub_title}}</h2>
    </header>
    <div class="row">
      {{range .services}}
      <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <a href="{{.link}}" class="service-link">
          <div class="box">              
            <img src="{{.logo}}" class="logo" alt="" /> 
            <h3>{{.title}}</h3>
            {{range .strikePrice}}
              <h1>{{.}}</h1>
            {{end}}
            {{range .price}}
              <h2>{{.}}</h2>
            {{end}}
              <div class="title2"><h2>{{.title2}}</h2></div>
              {{range .content2}}
                <div class="content2"><p><i class="fas fa-check"></i> {{.}}</p></div>
              {{end}}
            
            <div class="finePrint">
              <p>{{.finePrint}}</p>
            </div>
          </div>
        </a>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}} -->



<!-- End Values Section -->
<!-- Begin Coverage Area-->
<!-- ======= Deployed Section ======= -->
{{with .Params.deployed_section}}
<section id="deployed" class="deployed">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0 align-items-center">
    
      <!-- Text Column -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>{{.title}}</h3>
          <h2>{{.description}}</h2>
          <div class="row">
            <div class="col">
              <ul>
                {{ range first 25 .states }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
            {{ if gt (len .states) 25 }}
            <div class="col">
              <ul>
                {{ range after 25 .states }}
                <li>{{ . }}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      
      <!-- Image Column -->
      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{.image}}" class="img-fluid" alt="Deployed States Image" />
      </div>
      
    </div>
  <!-- Progress Bar -->
  <!-- Assuming 50 as the total number of states -->
  {{ $totalStates := 50 }}
  {{ $deployedCount := len .states }}
  {{ $progress := mul (div (float $deployedCount) (float $totalStates)) 100 }}

  <div class="progress deployed-progress" data-aos="fade-up" data-aos-delay="400">
    <div class="progress-bar" role="progressbar" style="width: {{ printf "%.0f" $progress }}%;" aria-valuenow="{{ printf "%.0f" $progress }}" aria-valuemin="0" aria-valuemax="100">{{ printf "%.0f" $progress }}% Deployed</div>
  </div>

  </div>
</section>
{{end}}
<!-- End Deployed Section -->

<!-- End coverage area-->
<!-- ======= About Section ======= -->
{{with .Params.about_us_section}}
<section id="about-us" class="about_us">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>About us</h3>
      {{ .title | safeHTML }}
    </header>

    <div class="row gx-0" style="display: flex; align-items: stretch; justify-content: center;">
      <div
        class="justify-content-center"
        style="height: auto;"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="content" style="height: 100%;">
          {{ .content | safeHTML }}
        </div>
        
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End About Section -->


<!-- End coverage area-->
<!-- ======= Products Section ======= -->
{{with .Params.products_section}}
<section id="products" class="products">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Products</h3>
      <p>Our products</p>
    </header>
    <div class="row gx-0" style="display: flex; align-items: stretch; justify-content: center;">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center"
        style="height: auto;"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="content" style="height: 100%;">
          <h3>{{.title_one}}</h3>
          <h2>{{.sub_title_one}}</h2>
          <div class="images-product">
            <img src="/assets/img/products/image-1.png" alt="Rampart" class="image-product" />
            <img src="/assets/img/products/image-3.png" alt="Rampart" class="image-product" />
          </div>
          <p>{{.content_one | safeHTML}}</p>
          <div class="text-center text-lg-start">
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 d-flex flex-column justify-content-center"
        style="height: auto;"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="content" style="height: 100%;">
          <h3>{{.title_two}}</h3>
          <h2>{{.sub_title_two}}</h2>
          <div class="images-product">
            <img src="/assets/img/products/image-2.png" alt="Yoda" class="image-product" />
            <img src="/assets/img/products/image-4.png" alt="Yoda" class="image-product" />
          </div>
          <p>{{.content_two | safeHTML}}</p>
          <div class="text-center text-lg-start">
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 d-flex flex-column justify-content-center align-items-center"
        style="height: auto; width: 100%;"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="content" style="height: 100%;">
          <h3>{{.title_three}}</h3>
          <h2>{{.sub_title_three}}</h2>
          <div class="images-product image-product-nova">
            <img src="/assets/img/products/Nova-image.webp" alt="Nova" class="image-product" />
          </div>
          <p>{{.content_three | safeHTML}}</p>
          <div class="text-center text-lg-start">
          </div>
        </div>
      </div>

      <!-- <div
        class="col-lg-6 d-flex align-items-center"
        data-aos="zoom-out"
        data-aos-delay="200"
      >
        <img src="{{.image}}" class="img-fluid img" alt="About img" />
      </div> -->
    </div>
  </div>
</section>
{{end}}
<!-- End Products Section -->

<!-- ======= F.A.Q Section ======= -->
{{ with .Params.faq_section }}
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>{{ .title }}</h3>
      <p>{{ .sub_title }}</p>
    </header>

    <div class="row justify-content-center">
      <div class="col-lg-9">
        <!-- F.A.Q List 1 -->
        <div class="accordion accordion-flush" id="faqlist1">
          {{ $counter := 1 }}
          {{ range .faqs }}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-{{$counter}}">
                {{ .q }}
              </button>
            </h2>
            <div id="faq-content-{{$counter}}" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                {{ if eq .q "How do I subscribe to Rampart?" }}
                  You can subscribe to Rampart through our website to access either the free tier or the unlimited plan:
                  <ul>
                    <li>$7.99/month</li>
                    <li>$87.89 annually</li>
                  </ul>
                {{ else if eq .q "How do I request a demo?" }}  
                  You can request a demo through our website or by contacting our sales team <a href="mailto:sales@intellux.ai">sales@intellux.ai</a>
                {{ else }}
                  {{ .a }}
                {{ end }}
              </div>
            </div>
          </div>
          {{ $counter = add $counter 1 }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- End F.A.Q Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up" style="display: flex; flex-direction: column; align-items: center;">
    <header class="section-header" style="text-align: center;">
      <h3>Contact</h3>
      <p>Contact Us</p>
    </header>

    <div class="row gy-4" style="justify-content: center; width: 100%; align-items: stretch;">
      <div class="col-lg-6">
        <div class="row gy-4 contact-options" style="justify-content: center;">
          <div class="col-md-6" style="height: auto;">
            <a href="mailto:info@intellux.ai" target="_blank" rel="noopener noreferrer">
              <div class="info-box" style="text-align: center;">
                <i class="bi bi-envelope"></i>
                <h3>General Information</h3>
                <p>info@intellux.ai</p>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="mailto:sales@intellux.ai" target="_blank" rel="noopener noreferrer">
              <div class="info-box" style="text-align: center; height: 100%;">
                <i class="bi bi-envelope"></i>
                <h3>Sales</h3>
                <p>sales@intellux.ai</p>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="tel:+14066420921" target="_blank" rel="noopener noreferrer">
              <div class="info-box" style="text-align: center;">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>406-642-0921</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
<!-- Cookie Consent -->
{{end}}
