{{with .Params.services_section}}
<section id="values" class="values">
  <div class="specificClass" data-aos="fade-up">
    <header class="section-header">
      <h3>{{.title}}</h3>
      <h2>{{.sub_title}}</h2>
    </header>

    <div class="row">
      {{range .services}}
      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <a href="{{.link}}">
          <div class="box">
            <img src="{{.image}}" class="img-fluid" alt="" />
            <h3>{{.title}}</h3>
            <p>{{.content}}</p>
          </div>
        </a>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}